<div class="row m-1">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header">
        <h2>Registration Form</h2>
      </div>
      <div class="box-divider"></div>
      <div class="box-body">
        <form novalidate #formRef="ngForm"
              (ngSubmit)="onSubmit(formRef.value)">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First name</label>
              <input type="text" class="form-control" name="firstName"
                     ngModel #firstNameRef="ngModel" required minlength="3">
              <div class="error-message"
                   *ngIf="firstNameRef.touched && firstNameRef?.errors?.required">
                The first name is required
              </div>
              <div class="error-message" *ngIf="firstNameRef.touched &&
                            firstNameRef?.errors?.minlength">
                You should enter minimum
                {{firstNameRef?.errors?.minlength.requiredLength}}
                characters into first name, but you entered only
                {{firstNameRef?.errors?.minlength.actualLength}} characters.
              </div>
            </div>

            <div class="col-sm-6 form-group">
              <label>Last name</label>
              <input type="text" class="form-control" name="lastName"
                     ngModel #lastNameRef="ngModel">
            </div>
          </div>

          <div ngModelGroup="address" #addressRef="ngModelGroup">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street"
                       ngModel #streetRef="ngModel">
              </div>
              <div class="col-sm-6 form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city"
                       ngModel #cityRef="ngModel">
              </div>
            </div>
            <div class="form-group">
              <label>Country</label>
              <select class="form-control" name="country"
                      ngModel="" #countryRef="ngModel">
                <option value="IN">India</option>
                <option value="US">United States of America</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Gender</label>
              <div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Male"
                         ngModel #genderRef="ngModel"><i class="blue"></i>Male
                </label>
                <div class="spacer"></div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Female"
                         ngModel #genderRef="ngModel"><i class="blue"></i>Female
                </label>
                <div class="spacer"></div>
                <label class="check-label">
                  <input type="radio" name="gender" value="Other"
                         ngModel #genderRef="ngModel"><i class="blue"></i>Other
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="check-label">
              <input type="checkbox" name="agreement" value=""
                     ngModel #agreementRef="ngModel"><i class="blue"></i>
              I agree to the Terms of Service
            </label>
          </div>

          <button type="submit"
                  class="btn btn-secondary" [disabled]="formRef.invalid">Submit
          </button>
        </form>
        <pre>{{formRef.value | json}}</pre>
      </div>
    </div>
  </div>
</div>