<div class="books-list-title">
  <h4 class="">Books List</h4>
</div>
<div class="content-container">
  <div class="books-list-grid">
      <ul class="list mdl-grid">
        <li class="list-item mdl-cell mdl-cell--3-col"
            *ngFor="let book of booksList" [routerLink]="['/books', book.id]">
          <div class="cover-image-container">
                <span class="cover-image">
                  <img [src]="book.coverImage" alt="cover image"/>
                </span>
          </div>
          <div class="clear">
            <div class="book-title">{{book.title}}</div>
            <div class="book-author">{{book.authors}}</div>
          </div>
        </li>
      </ul>
  </div>
</div>