<form novalidate [formGroup]="registrationForm"
      (ngSubmit)="onSubmit(registrationForm.value)">
  <input type="email" class="form-control"
         formControlName="email">
  <div class="error-message"
       *ngIf="registrationForm.get('email').touched &&
              registrationForm.get('email').hasError('required')">
    The email is required.
  </div>
  <div class="error-message"
       *ngIf="registrationForm.get('email').touched &&
              registrationForm.get('email').hasError('pattern')">
    The email format should be <i>shravan@theshravan.net</i>
  </div>

  <div formGroupName="address">
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Street</label>
        <input type="text" class="form-control"
               formControlName="street">
      </div>
    </div>
    <div class="form-group">
      <label>Country</label>
      <select class="form-control" formControlName="country">
        <option value="IN">India</option>
        <option value="UK">United Kingdom</option>
      </select>
      <div class="error-message" *ngIf="
         registrationForm.get('address').get('country')
                   .touched &&
   registrationForm.get('address').get('country')
                   .hasError('required')">
        The country is required.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-secondary"
          [disabled]="registrationForm.invalid">Submit
  </button>

</form>